/* for specificity purposes the class names are trailed from parent to child i.e. if you have a - e you'd call .a .b . c .d .e if you wanted to style the .e class  */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f6ff;
}

h2 {
  margin: 16px;
}

.container {
  margin-top: 100px;
  padding: 32px;
}

.select-box {
  display: flex;
  flex-direction: column-reverse;
  /* order: 1; */
  width: 400px;
}

.select-box .options-container {
  background-color: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
}

.selected {
  background-color: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  /* order: 0; */
}

/* adding an image using ::after */
.selected::after {
  content: "";
  background: url(/img/arrow-down.svg);
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 26px;
  right: 10px;
  top: 8px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

/* when the .options-container has the class of .active do something to .selected::after class */
.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -10px;
}

.options-container::-webkit-scrollbar {
  background-color: #0d141f;
  width: 10px;
  border-radius: 0 4px 4px 0;
}

.options-container::-webkit-scrollbar-thumb {
  background-color: #525861;
  background-color: #8f8f8f;
  border-radius: 0 4px 4px 0;
}

.select-box .option,.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}